.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.first{
    display: flex;
    justify-content: space-between;
    margin: 40px 40px;
    align-items: center;
    padding: 10px 20px;
    /* width: 1066px; */
}
.text-primary{
    color: blue;
    font-weight: 400;
    
}
.btm-primary{
    background-color: blue;
    font-weight: bold;
    color: white;
    padding:  12px 36px ;
    border-radius: 10px;
    border: none;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content{
    max-width: 800px;
    padding: 10px 0px 100px;
}
 .banner-description{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
    color:#252432;
 }
 .header{
    background-image:url(../ui/Hero-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100vh;
     /* padding: 90px; */
     
     /* min-height: 500px; */
 }

 /* main */
 .container{
    display: flex;
    justify-content: space-between;
     margin: 70px 60px;
    align-items: center;
    padding: 10px 20px;
 }
 .section-title{
    font-size: 35px;
    font-weight: bold;
    color:black;
 }
 .section-description{
    color: #767678;
    

 }
 .content-right{
    border-radius: 55px;
    width: 100;
    overflow: hidden;
 }
 .content-left{
    max-width: 450px;
    
 }

 /* section */
 .productive-user{
   background-color: #e9e9ec;
    border-radius: 13px;
    text-align: center;
   padding: 20px 40px;
    margin: 0 auto; 
    max-width: 700px;
    /* max-height: 300px; */
    
 }
 .people{
   
 }
 .stats-grid{
   display: flex;
   text-align: center;
   justify-content: space-around;
   gap: 10px;
    margin: 20px;
 }
 .number{
   color: blue;
   font-weight: bold;
   font-size:45px;
   margin: 0;
 }
 .label{
   color:#767678 ;
   font-size: 14px;
   margin: 5px 0 0 0;
 }

 /*  */
.had {
  text-align: center;
  /* margin: 50px; */
  padding: 45px 0 0 20px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px; 
  /* flex-wrap: wrap;  */
}

.about-items {
  background-color: #F2EDED;
  border-radius: 13px;
  padding: 30px;
  width: 200px; 
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.rating {
  display: flex;
  color: rgb(232, 180, 49);
}
.review-date{
   color:#909092;
    margin: 5px;
  
}
.reviewer-name{
   font-size:15px;
   margin: 0;
   padding: 0px 5px ;
   color:#58585a;
   font-weight: 600;
}
.reviewer-info{
   display: flex;
  width: 100px;
  height: 50px;
  
}
.reviewer-avatar{
   border-radius: 50%;
}
.reviewer-details{
   padding: 0 7px;
}
.loved-by{
  
}
/*  */

.preview-section {
  border-radius: 13px;
    /* text-align: center; */
   padding: 20px 20px;
    margin: 0 auto; 
    max-width: 800px;
 
  background-color: #f4f6fc;
}

.preview-content {
  text-align: center;
  /* margin-top: 30px; */
}



.preview-description{
  color: rgb(126, 125, 125);
}

.preview-visual {
  /* flex: 1; */
  text-align: center;
  padding: 30px;
}

.preview-image {
  width: 90%;
  max-width: 420px;
  border-radius: 20px;
}


/*  */

  .contact-section {
  padding: 60px;
  background-color: #f5f7ff; 
  border-radius: 13px;
  max-width: 900px;
  margin: 50px auto; 
}

.contact-container {
  display: flex;
  max-width: 100%;
  width: 100%;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}

 h2 {
  font-size: 50px;
  font-weight: 850;
  color: #000;
 } 

.contact-form {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}



